name: flutter_mvrs
description: A new Flutter package project.
version: 0.0.1
homepage: https://github.com/JakubWasilczyk/flutter_mvrs

environment:
  sdk: ">=2.16.2 <3.0.0"
  flutter: ">=1.17.0"

dependencies:
  equatable: ^2.0.3
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^1.0.0

flutter: